* {
    padding: 0;
    margin: 0;
}

.content {
    max-width: 10in;
    margin: auto;
  }

.page-container {
    min-width: 8.5in;
    max-width: 8.5in;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 1in;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border: 1px solid black;
}

.page-container h2 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.page-container h3 {
    padding: 15px;
    font-family: Arial;
    font-size: 12pt;
}

h1 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 18pt;
}

.s1 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

p {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    margin: 0pt;
}

.s2 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.titulo2 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

h2 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.s3 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    font-size: 10pt;
}

.s4 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

h4 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

.s5 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    vertical-align: 1pt;
}

.s6 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s7 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s8 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 10pt;
}

li {
    display: block;
}

#l1 {
    padding-left: 0pt;
    counter-reset: c1 1;
}

#l1>li>*:first-child:before {
    counter-increment: c1;
    content: counter(c1, decimal)". ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

#l1>li:first-child>*:first-child:before {
    counter-increment: c1 0;
}

table,
tbody {
    vertical-align: top;
    overflow: visible;
}


/* Secciones de la hoja de seguridad */

.textDIV {
    padding-left: 20px;
}

.leftRightDIV {
    display: flex;
    flex-direction: row;
}

.leftDIV{
    width: 30%;
}

.rightDIV {
    width: 70%;
}

.titulo1 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 18pt;
}

.titulo {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.subtitulo {
    font-size: 12pt;
    line-height: 2px;
    text-align: left;
    text-decoration: underline;
    padding: 5px 0 10px 0;
}

.subtext {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.solid {
    height: 1px;
    border-bottom: 1px solid #000000;
    margin-bottom: 12px;
}

.leftText {
    font-size: 12pt;
    line-height: 2px;
    text-align: left;
}

.rightText {
    font-size: 12pt;
    line-height: 0px;
    text-align: right;
}


