.custom-text {
    text-align: center;
}

td.highlight {
    background-color: whitesmoke !important;
}

.dtSelected {
    background-color: rgba(8,158,96,0.11);
}

.map {
    width: 100%;
    height: 300px;
    z-index: 1;
    border-radius: 10px;
}

.info-marcas {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.clase-box {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.modal {
    width: 80%;
}