.custom-text {
    text-align: center;
}

td.highlight {
    background-color: whitesmoke !important;
}

.dtSelected {
    background-color: rgba(8,158,96,0.11);
}

.map {
    width: 100%;
    height: 300px;
    z-index: 1;
    border-radius: 10px;
}

.info-marcas {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.fabricantes {
    display: none;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.fabricante-box {
    display: flex;
    padding-bottom: 30px;
}

.fabricante-text {
    width: 100%;
}

.ingredientes {
    /* display: none; */
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.ingrediente_display {
    display: flex;
}

.ingrediente-box {
    display: flex;
    margin-bottom: 30px;
}

.ingrediente-text {
    width: 100%;
    margin-right: 5px;
}

.ingrediente_izquierda {
    width: 80%;
}

.ingrediente_derecha {
    width: auto;
    padding-left: 35px;
}

.cantidad-box {
    display: flex;
    padding-bottom: 30px;
}

.cantidad-text {
    display: flex;
    width: 100%;
}

.clase-box {
    display: none;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    animation: fadeIn 1.5s;
}

.clase-box-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.clase-box-titulo {
    font-size: 22px;
}

.cont_cat{
    width: 100%;
    display: flex;
    justify-content: end;
}

.cat_select {
    width: 75%;
    margin-right: 15px;
}

.toxicidad {
    width: 25%;
}

.cont_nivel{
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cont_nivel.p{
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-left: 10px;
    align-items: center;
}

.btnAddClase {
    width: auto;
    height: 45px;
    background-color: #1cc88a;
    color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 0 10px;
}

.modal {
    overflow-y: scroll;
    overflow-x: scroll;
}